/*-----------------------------------------*\
    GRID
\*-----------------------------------------*/
section.grid{
	height: 100%;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	@media (min-width: $MD){
		padding: 0 $grid-sides-md;
	}

	&.inset{
		padding: 0 $grid-sides;
		@media (min-width: $MD){
			padding: 0 $grid-sides-md;
		}
	}

	& > header{
		& > .title{
			text-transform: uppercase;
			font-size: 20px;
			line-height: 27px;
			font-weight: 300;
		}

		& > .sub-title{
			font-size: 16px;
			font-weight: 200;
		}
	}

	& .row{
		display: flex;
		flex-wrap: wrap;
		height: inherit;
		margin-left: -($grid-gutter/2);
		margin-right: -($grid-gutter/2);

		&.inset{
			@media (min-width: $MD){
				margin: 0;
			}
		}


		@media (min-width: $MD){
			margin-left: -($grid-gutter-md/2);
			margin-right: -($grid-gutter-md/2);
		}

		&-right{
			justify-content: flex-end;
		}

		&-center{
			justify-content: center;
		}

		&-top{
			align-items: flex-start;
		}

		&-bottom{
			align-items: flex-end;
		}

		&-middle{
			align-items: center;
		}

		&.row-flush{
			margin: 0;
			
			& > .col{
				margin: 0;
			}
		}

		@media (min-width: $MD){
			&.row-flush-top-sides{
				margin: (-$grid-sides-md) (-$grid-sides-md) $grid-gutter-md (-$grid-sides-md);
				.col{
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		

		// Mobile first defaults
		& .col{
			@for $i from 1 through $grid-cols{
				&.col-len#{$i}{
					flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter-md});
				}

				&.col-offset#{$i}{
					margin-left: calc(#{$grid-width * $i} + #{$i+'px'});
				}
			}
		}

		// Adding these extra classes gives it greater flexibility as the screen is scaled upwards
		& > .col{
			flex: 1;
			margin: $grid-gutter/2;

			@media (min-width: $MD){
				margin: $grid-gutter-md/2;
			}

			&-flush{
				margin: 0;

				@media (min-width: $MD){
					margin: 0;
				}
			}

			@for $i from 1 through $grid-cols{
				@media (max-width: $SM - 1){
					&.col-xs-len#{$i}{
						flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter});
					}
					&.col-xs-offset#{$i}{
						margin-left: 0 0 calc(#{$grid-width * $i});
					}
					&.col-xs-hide{
						display: none;
					}
				}
			}

			@for $i from 1 through $grid-cols{
				@media (min-width: $SM){
					&.col-sm-len#{$i}{
						flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter-md});
					}
					&.col-sm-offset#{$i}{
						margin-left: 0 0 calc(#{$grid-width * $i});
					}
				}
				@media (min-width: $SM) and (max-width: $MD - 1){
					&.col-sm-hide{
						display: none;
					}
				}
			}

			@for $i from 1 through $grid-cols{
				@media (min-width: $MD){
					&.col-md-len#{$i}{
						flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter-md});
					}
					&.col-md-offset#{$i}{
						margin-left: 0 0 calc(#{$grid-width * $i});
					}
				}
				@media (min-width: $MD) and (max-width: $LG - 1){
					&.col-md-hide{
						display: none;
					}
				}
			}

			@for $i from 1 through $grid-cols{
				@media (min-width: $LG){
					&.col-lg-len#{$i}{
						flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter-md});
					}
					&.col-lg-offset#{$i}{
						margin-left: 0 0 calc(#{$grid-width * $i});
					}
				}
				@media (min-width: $LG) and (max-width: $XL - 1){
					&.col-lg-hide{
						display: none;
					}
				}
			}
			
			@for $i from 1 through $grid-cols{
				@media (min-width: $XL){
					&.col-xl-len#{$i}{
						flex: 0 0 calc(#{$grid-width * $i} - #{$grid-gutter-md});
					}
					&.col-xl-offset#{$i}{
						margin-left: 0 0 calc(#{$grid-width * $i});
					}
					&.col-xl-hide{
						display: none;
					}
				}
			}
		}
		
		& > .col > .row{
			margin: -($grid-gutter/2);
			@media (min-width: $MD){
				margin: -($grid-gutter-md/2);
			}
		}

		& > .col{
			margin-top: 0;
		}
	}			
}